ul {

    background-color: white;
}


li {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;


}

span {
    display: flex;

    align-items: center;
}

span {


    .IDITEM {

        flex: 3;
       
    }
}

.fullist{

    background-color: rgb(69, 70, 69);
    width: 100%;
    height: 66px;
}
.topApp{
    height: 50px;
    align-items: center;
    align-content: center;
    ul {

        background-color: rgb(69, 70, 69);
        width: 85%;
        
    }


    li {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;


    }

    span {
        display: flex;

        align-items: center;
    }

    span {


        .IDITEM {

            flex: 3;
        }
    }



    h5{
        color: rgb(160, 160, 160);
    }
    h4{
        color: rgb(160, 160, 160);
        padding: 6px;
    }

}

.positiveFeed{
background-color: rgb(69, 70, 69);
    color: rgb(160, 160, 160);
    padding: 5px;
    border-radius: 10px;
    
 
}

.names{
    color: green;
}

.Classlisted{
    width: 90%;
    height: 50px;
}




.input{
    padding-left: 10px;
}