ul {

    background-color: green;
}


li {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;


}

span {
    display: flex;

    align-items: center;
}


img{
    color: green;
    background-color: green;
}

span {


    .IDITEM {

        flex: 3;
    }
}

h5 {
    color: rgb(112, 112, 112);
}

h4 {
    color: rgb(112, 112, 112);
}
