
  
 
  
  .card-head {
    position: relative;
    height: 100px;
    min-height: 60px;
    max-height: 120px;
    max-width:300px;
    min-width: 100px;
    width:250px;
   
    background: #ff1744;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg,#ff1744 8%, #c82930 83%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ff1744 8%, #c82930 83%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ff1744 8%, #c82930 83%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff1744', endColorstr='#ff1744', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    border-radius: 0px 0px 5px 5px;
  
}
  
  .card-body {
    height: 205px;
    width:250px;
    max-width: 300px;
    max-height: 250px;
    min-width: 100px;
    background: white;
    border-radius: 25 25 0px 0px;
  }
  
  .product-title {
    padding: 10px;
    display: block;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  

  .badge {
    position: relative;
    font-size: 10px;
    font-weight: 300;
    color: #fff;
    background: black;
    padding: 2px 5px;
    border-radius: 4px;
  }
  
 
h2{
  color: white;
}
  
  
  

  
 
  